<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8" />
        <title>Data lineage view</title>
        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <script src="jquery.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        <script src="sqlflow.widget.3.5.19.js"></script>
        <script src="samplesql.js"></script>
        <script>
            var sqlflow;
            const visualize = async () => {
                let data = {};
                data.dbVendor = $("#dbvendor").val();
                data.sqlText = sqlflow.sqltext.get();
                let options = [];
                $("input[name='setting']:checked").each(function (index, item) {
                    options.push($(this).val());
                });
                data.ignoreRecordSet = false;
                data.showConstantTable = false;
                data.simpleShowFunction = false;
                data.indirect = false;
                data.tableLevel = false;
                for(let op of options){
                    if(op=='ignoreRecordSet'){
                        data.ignoreRecordSet = true;
                    }
                    if(op=='simpleShowFunction'){
                        data.simpleShowFunction = true;
                    }
                    if(op=='showConstantTable'){
                        data.showConstantTable = true;
                    }
                    if(op=='indirect'){
                        data.indirect = true;
                    }
                    if(op=='tableLevel'){
                        data.tableLevel = true;
                    }
                }
                let showResultSetTypes = [];
                $("input[name='showResultSetTypes']:checked").each(function (index, item) {
                    showResultSetTypes.push($(this).val());
                });
                if(showResultSetTypes.length>0){
                    data.showResultSetTypes = showResultSetTypes.join(",");
                }
                $.ajax({
                    url : "sqlflow/datalineage",
                    type : "POST",
                    data : JSON.stringify(data),
                    dataType : 'json',
                    contentType : 'application/json;charset=UTF-8',
                    success : function(result) {
                        let data = JSON.parse(result.data);
                        sqlflow.visualizeJSON(data, { layout: true });
                    }
                });
            };

            const visualizeER = async () => {
                let data = {};
                data.dbVendor = $("#dbvendor").val();
                data.sqlText = sqlflow.sqltext.get();
                $.ajax({
                    url : "sqlflow/erdiagram",
                    type : "POST",
                    data : JSON.stringify(data),
                    dataType : 'json',
                    contentType : 'application/json;charset=UTF-8',
                    success : function(result) {
                        sqlflow.visualizeERJSON(JSON.parse(result.data), { layout: true });
                    }
                });
            };

            const dbvendorChange= async () => {
                let vendor = $("#dbvendor").val();
                sqlflow.vendor.set(vendor);
                sqlflow.sqltext.set(sampleSQL[vendor]);
                visualize();
            };

            document.addEventListener('DOMContentLoaded', async () => {
                sqlflow = await SQLFlow.init({
                    container: document.getElementById('sqlflow'),
                    width: '100%',
                    height: '100%',
                    apiPrefix: '',
                    component: {
                        sqlEditor: true,
                        graphLocate: true,
                        minimap: true,
                    },
                });
                sqlflow.vendor.set("dbvoracle");
                sqlflow.sqltext.set(sampleSQL.dbvoracle);
                visualize();
            });
        </script>
        <style>
            html, body {
                width: 100%;
                height: 100%;
            }
            .full {
                height: 100%;
                width: 100%;
            }
            * {
                margin: 0;
                padding: 0;
            }
            .top {
                margin: 8px;
            }
        </style>
    </head>

    <body>
        <div class="full">
            <form class="form-inline top">
                <div class="form-group">
                    <label for="dbvendor">dbvendor: </label>
                    <select id="dbvendor" class="form-control  input-sm" onchange="dbvendorChange()">
                        <option value="dbvathena">athena</option>
                        <option value="dbvazuresql">azuresql</option>
                        <option value="dbvbigquery">bigquery</option>
                        <option value="dbvcouchbase">couchbase</option>
                        <option value="dbvdatabricks">databricks</option>
                        <option value="dbvdb2">db2</option>
                        <option value="dbvgaussdb">gaussdb</option>
                        <option value="dbvgreenplum">greenplum</option>
                        <option value="dbvhana">hana</option>
                        <option value="dbvhive">hive</option>
                        <option value="dbvimpala">impala</option>
                        <option value="dbvinformix">informix</option>
                        <option value="dbvmdx">mdx</option>
                        <option value="dbvmysql">mysql</option>
                        <option value="dbvmssql">mssql</option>
                        <option value="dbvnetezza">netezza</option>
                        <option value="dbvopenedge">openedge</option>
                        <option value="dbvoracle" selected>oracle</option>
                        <option value="dbvpostgresql">postgresql</option>
                        <option value="dbvpresto">presto</option>
                        <option value="dbvredshift">redshift</option>
                        <option value="dbvsnowflake">snowflake</option>
                        <option value="dbvsparksql">sparksql</option>
                        <option value="dbvsybase">sybase</option>
                        <option value="dbvteradata">teradata</option>
                        <option value="dbvvertica">vertica</option>
                    </select>
                </div>
                <button type="button" class="btn btn-default btn-sm" style="margin-left: 8px" data-toggle="modal" data-target="#settingID">
                    Setting
                </button>
                <button type="button" class="btn btn-default btn-sm" style="margin-left: 8px" data-toggle="modal" data-target="#showResultSetTypesID">
                    Show ResultSet Types
                </button>
                <button type="button" class="btn btn-primary" style="margin-left: 8px" onclick="visualize()">visualize data lineage</button>
                <button type="button" class="btn btn-success" style="margin-left: 8px" onclick="visualizeER()">visualize ER diagram</button>
            </form>
            <div id="sqlflow"></div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="settingID" tabindex="-1" role="dialog" aria-labelledby="settingModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="settingModalLabel">Setting</h4>
                    </div>
                    <div class="modal-body" style="font-size: 16px">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input name="setting" type="checkbox" value="indirect" onclick="visualize()"> indirect
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="setting" type="checkbox" value="simpleShowFunction" onclick="visualize()"> show function
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="setting" type="checkbox" value="showConstantTable" onclick="visualize()"> show constant
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="setting" type="checkbox" value="ignoreRecordSet" onclick="visualize()"> ignoreRecordSet
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="setting" type="checkbox" value="tableLevel" onclick="visualize()"> table level
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="showResultSetTypesID" tabindex="-1" role="dialog" aria-labelledby="showResultSetTypesModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="showResultSetTypesModalLabel">Show ResultSet Types</h4>
                    </div>
                    <div class="modal-body" style="font-size: 16px">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="array" onclick="visualize()"> array
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="struct" onclick="visualize()"> struct
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="result_of" onclick="visualize()"> result_of
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="cte" onclick="visualize()"> cte
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="insert_select" onclick="visualize()"> insert_select
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="update_select" onclick="visualize()"> update_select
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="merge_update" onclick="visualize()"> merge_update
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="merge_insert" onclick="visualize()"> merge_insert
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="output" onclick="visualize()"> output
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="update_set" onclick="visualize()"> update_set
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="pivot_table" onclick="visualize()"> pivot_table
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="unpivot_table" onclick="visualize()"> unpivot_table
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="rs" onclick="visualize()"> rs
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="function" onclick="visualize()"> function
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="showResultSetTypes" type="checkbox" value="case_when" onclick="visualize()"> case_when
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>